<template>
  <div class="block">
    <div class="goto" v-if="$route.name === 'Item'">
      <label for="goto">Go to</label>
      <input id="goto" type="number" min="0" :max="maxCount" v-model="id" @change="goTo" />
    </div>
    <div
      class="list"
      ref="list"
      :style="`max-height: ${maxHeight}px`"
      >
      <ul
        class="list-container"
        :style="`height: ${totalHeight}px`"
        >
        <li
          v-for="(item, index) in visibleItems"
          :key="index"
          :style="`top: ${liHeight * (item.id - 1)}px`"
          @click="scrollIt(item.id)"
          >
          <router-link
           :to="{name: 'Item', params: {id: item.id}}"
           >
            {{ item.name }}
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
const itemHeight = 30;
const maxCount = 20;
const count = 10000;

export default {
  name: 'List',
  data() {
    return {
      // Get from file is not right way
      items: [],
      liHeight: itemHeight,
      maxHeight: maxCount * itemHeight,
      totalHeight: itemHeight * count,
      maxCount: count,
      scrollTop: 0,
      id: 0,
    };
  },

  computed: {
    // Will render only 60 Items (some before scroll position, some after)
    visibleItems() {
      const middle = this.roundIt();
      // It will load before position
      const start = middle - 40 >= 0 ? middle - 40 : 0;
      // It will load after position
      const end = middle + 20 < count ? middle + 20 : count;
      return this.items.slice(start, end);
    },
  },

  beforeRouteEnter(to, from, next) {
    // Check id in route
    if (to.name === 'Item') {
      if (to.params.id - 1 < 0) {
        next({ name: 'Item', params: { id: 0 } });
      } else if (to.params.id > count) {
        next({ name: 'Item', params: { id: count } });
      }
      next();
    }
    next();
  },

  mounted() {
    // Generate items list (better is real data from rest api and store (vuex))
    this.fillList();
    this.$refs.list.addEventListener('scroll', this.checkScroll, false);
    // Get current id for autoscroll to item
    this.id = this.$route.name === 'Item' ? this.$route.params.id : 0;
    this.scrollIt(this.id);
  },

  methods: {
    // Fill list of items
    fillList() {
      for (let i = 0; i < count; i += 1) {
        const name = i < count ? (`0000${i + 1}`).slice(-5) : i + 1;
        const item = {
          id: i + 1,
          name: `item ${name}`,
        };
        this.items.push(item);
      }
    },

    // Get item id in scroll position
    roundIt() {
      const step = Math.round(this.scrollTop / itemHeight / maxCount);
      const result = Math.round((step * maxCount) + maxCount);
      if (result >= 0) return result;
      return 0;
    },

    // Update scroll position data calc
    checkScroll() {
      const container = this.$refs.list;
      this.scrollTop = container.scrollTop;
    },

    scrollIt(id) {
      this.$refs.list.scrollTo(0, (id - 1) * itemHeight);
    },

    goTo() {
      if (this.id < 0) this.id = 0;
      else if (this.id > count) this.id = count;
      this.$router.push({ name: 'Item', params: { id: this.id } });
      this.scrollIt(this.id);
    },
  },
};
</script>

<style scoped>
.block {
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
.goto {
  margin: 5px;
  text-align: center;
}
.list {
  overflow-y: scroll;
  width: 100%;
  border-top: 2px solid #ccc;
}
.list ul {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
.list li {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 0;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.list li a {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
}
.router-link-active {
  background: rgba(255,128,192,0.2);
}
</style>
